In [2]:
import pandas as pd
df1 = pd.read_csv ("/content/Telco_customer_churn_services.csv")

El DataSet muestra la informacion del servicio prestado por una compa√±ia de los telefonia con respecto a los clientes que contraron el servicio, vamos a poder encontrar informacion como el tipo de servicio que contrataron y todos sus detalles.

In [3]:
df1

,Customer ID,Count,Quarter,Referred a Friend,Number of Referrals,Tenure in Months,Offer,Phone Service,Avg Monthly Long Distance Charges,Multiple Lines,...,Unlimited Data,Contract,Paperless Billing,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue
0,8779-QRDMV,1,Q3,No,0,1,None,No,0.00,No,...,No,Month-to-Month,Yes,Bank Withdrawal,39.65,39.65,0.00,20,0.00,59.65
1,7495-OOKFY,1,Q3,Yes,1,8,Offer E,Yes,48.85,Yes,...,Yes,Month-to-Month,Yes,Credit Card,80.65,633.30,0.00,0,390.80,1024.10
2,1658-BYGOY,1,Q3,No,0,18,Offer D,Yes,11.33,Yes,...,Yes,Month-to-Month,Yes,Bank Withdrawal,95.45,1752.55,45.61,0,203.94,1910.88
3,4598-XLKNJ,1,Q3,Yes,1,25,Offer C,Yes,19.76,No,...,Yes,Month-to-Month,Yes,Bank Withdrawal,98.50,2514.50,13.43,0,494.00,2995.07
4,4846-WHAFZ,1,Q3,Yes,1,37,Offer C,Yes,6.33,Yes,...,Yes,Month-to-Month,Yes,Bank Withdrawal,76.50,2868.15,0.00,0,234.21,3102.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9388-ZEYVT,1,Q3,No,0,43,Offer B,No,0.00,No,...,Yes,One Year,No,Bank Withdrawal,-6.00,1931.30,0.00,0,0.00,1931.30
7039,6898-RBTLU,1,Q3,Yes,9,49,Offer B,Yes,16.60,Yes,...,Yes,Two Year,No,Bank Withdrawal,-2.00,3902.45,0.00,0,813.40,4715.85
7040,5681-LLOEI,1,Q3,Yes,11,43,None,Yes,42.22,Yes,...,Yes,One Year,Yes,Credit Card,-2.00,4013.80,25.49,0,1815.46,5803.77
7041,1036-GUDCL,1,Q3,Yes,1,60,None,Yes,39.76,No,...,Yes,Month-to-Month,Yes,Credit Card,-9.00,4663.40,0.00,0,2385.60,7049.00
7042,2408-PSJVE,1,Q3,Yes,1,44,None,Yes,37.68,No,...,Yes,Month-to-Month,Yes,Credit Card,-7.00,2924.05,0.00,0,1657.92,4581.97

In [5]:
import pandas as pd
df2 = pd.read_csv ("/content/Telco_customer_churn_status.csv")

Este DataSet esta vinculado con el anterior y nos muestra el estado de los clientes ya que hay muchos clientes que estan descontrando el servicio.

In [6]:
df2

,Customer ID,Count,Quarter,Customer Status,Churn Label,Churn Value,Churn Category,Churn Reason
0,8779-QRDMV,1,Q3,Churned,Yes,1,Competitor,Competitor offered more data
1,7495-OOKFY,1,Q3,Churned,Yes,1,Competitor,Competitor made better offer
2,1658-BYGOY,1,Q3,Churned,Yes,1,Competitor,Competitor made better offer
3,4598-XLKNJ,1,Q3,Churned,Yes,1,Dissatisfaction,Limited range of services
4,4846-WHAFZ,1,Q3,Churned,Yes,1,Price,Extra data charges
...,...,...,...,...,...,...,...,...
7038,2569-WGERO,1,Q3,Stayed,No,0,NaN,NaN
7039,6840-RESVB,1,Q3,Stayed,No,0,NaN,NaN
7040,2234-XADUH,1,Q3,Stayed,No,0,NaN,NaN
7041,4801-JZAZL,1,Q3,Stayed,No,0,NaN,NaN
7042,3186-AJIEK,1,Q3,Stayed,No,0,NaN,NaN

In [9]:
import pandas as pd
df3 = pd.read_csv ("/content/Telco_customer_churn_demographics.csv")

Este DataSet al igual que los anteriores esta realacionado. Nos muestra la informaci√≥n personal del cliente, como , si la persona es casada o no, la edad, entre otros.

In [10]:
df3

,Customer ID,Count,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents
0,8779-QRDMV,1,M,78,No,Yes,No,No,0
1,7495-OOKFY,1,F,74,No,Yes,Yes,Yes,1
2,1658-BYGOY,1,M,71,No,Yes,No,Yes,3
3,4598-XLKNJ,1,F,78,No,Yes,Yes,Yes,1
4,4846-WHAFZ,1,F,80,No,Yes,Yes,Yes,1
...,...,...,...,...,...,...,...,...,...
7038,3389-KTRXV,1,Female,115,No,No,Yes,Yes,3
7039,4020-KIUDI,1,Male,108,No,No,Yes,Yes,2
7040,0970-QXPXW,1,Female,116,Yes,No,No,No,0
7041,2133-TSRRM,1,Female,109,No,No,No,Yes,3
7042,6447-GORXK,1,Male,108,Yes,No,No,Yes,3